@model  AddressBook.Models.Contact
@{
    ViewBag.Title = "Create";
}

<script src="~/Scripts/validation.js" type="text/javascript"></script>

<br>
<h4 class="text-success">Create New </h4>
<br>
<form method="post">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="fullName">Full Name </label>
                <input class="form-control" name="fullName" id="name" oninput="ValidateName()" />
                <label style="background-color:red" id="nameValidate"></label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="emailAddress">Email Address </label>
                <input class="form-control " name="emailAddress" id="email" oninput="ValidateEmail()" />
                <label style="background-color:red"  id="emailValidate"></label>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="phoneNumber">Phone Number</label>
                <input class="form-control required" name="phoneNumber" id="phone" oninput="ValidatePhone()" />
                <label style="background-color:red"  id="phoneValidate"></label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="physicalAddress">Physical Address</label>
                <input class="form-control required" name="physicalAddress" id="physicalAddress" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <input id="create" name="Create" type="submit" class="btn-success" value="Create" style="bottom: 0;right: 0;" />
    </div>
</form>