
@{
    ViewBag.Title = "CreateValidation";
}
<br>
<br>
<div class="btn-danger">
    <h4 class="danger">@ViewBag.ServerSideValidation</h4>
</div>
<br>
<div class="row">
    <h3>@Html.ActionLink("Try Again", "Create")</h3>
</div>

